<div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sidebarLabel">
            <template include="components/themeToggle.html"></template>
        </h5>
        <button type="button" class="btn-menu-close" data-bs-dismiss="offcanvas" aria-label="Close" style="background-color: transparent;" siderbar-toggle>
            <img src="/img/menu-fold.png" alt="关闭菜单" style="width:30px; height:30px; filter: invert(1);"></button>
    </div>
    <div class="offcanvas-body">
        <div class="sidebar-menu">
            <ul class="list-unstyled">
                <li class="sidebar-item">
                    <a href="/" class="nav-link sidebar-link" page="home">
                        <i class="bi bi-house-door me-3"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/test" class="nav-link sidebar-link" page="test">
                        <i class="bi bi-chat-square-text me-3"></i>
                        <span>测试</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>